.sidebar {
   color: rgb(100, 92, 121);
   font-size: 18px;
   font-weight: 600;
   background-color: #f4f4f4;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   overflow-y: auto;
}

.sidebar h2 {
   font-size: 1.5em;
   color: #333;
   margin-bottom: 15px;
}

.sidebar ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

.sidebar li {
   margin-bottom: 10px;
}

.sidebar a {
   text-decoration: none;
   color: #694e4e;
   transition: color 0.3s ease;
}

.sidebar a:hover {
   color: #0971e1;
}
.sidebar .navbar{
   padding: 0;
}