*{
   margin:0;
   padding:0;
 }
 
.headerRow{
   display: flex;
   justify-content: space-between;
}
.link{
   text-decoration: none;
   color: #4A4E5A;
   font-size: 14px;
   padding: 10px 15px;
   border: 1px solid rgba(74, 79, 89, 0.462);
   border-radius: 5px;
}
.headerCol{
   display: flex;
   gap: 10px;
}
.logoPerson{
   width: 48px;
   height: 48px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid rgba(74, 79, 89, 0.462);
   border-radius: 5px;
}
.blockPerson{
   display: flex;
   gap: 20px;
}
.linkLogin{
   text-transform: uppercase;
   text-decoration: none;
   color: #4A4E5A;
   font-size: 14px;
}
.namePerson{
   margin: 0;
   font-weight: 500;

}
.basketLink{
   color: #fff;
   font-size: 14px;
   background-color: red;
   display: inline-block;
   padding: 0 5px;
   border-radius: 50%;
   position: absolute;
   top: 0;
   right: 0;
}
.complete{
   position:absolute;
   width: 100%;
   background-color: #fff;
   z-index: 2; 
   list-style: none;
   margin: 0;
   padding: 0;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
   max-height: 240px;
   height: auto;
   overflow: auto;
}
.autocomplete{
   padding: 10px;
}
.autocomplete a{
   text-decoration:none;
   color: #000;
}
.autocomplete:hover{
   background-color: rgb(180, 180, 180);
   cursor: pointer;
   transition: cubic-bezier(1,0,0,1) .3s all;
}
.formControl{
   width: 400px;
   position: relative;
}